@model thithu1.Models.HomeModel

@{
    ViewBag.Title = "Home Page";
    var phanloai = ViewBag.PhanLoaiSanPhams;
    var sanphams = ViewBag.SanPhams;
}

<section id="billboard" class="overflow-hidden">

    <button class="button-prev">
        <i class="icon icon-chevron-left"></i>
    </button>
    <button class="button-next">
        <i class="icon icon-chevron-right"></i>
    </button>
    <div class="swiper main-swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide" style="background-image: url(~/Content/~/Content/images/banner1.jpg); background-repeat: no-repeat; background-size: cover; background-position: center;">
                <div class="banner-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <h2 class="banner-title">Summer Collection</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu feugiat amet, libero ipsum enim pharetra hac.</p>
                                <div class="btn-wrap">
                                    <a href="shop.html" class="btn btn-light btn-medium d-flex align-items-center" tabindex="0">
                                        Shop it now <i class="icon icon-arrow-io"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide" style="background-image: url(~/Content/~/Content/images/banner2.jpg); background-repeat: no-repeat; background-size: cover; background-position: center;">
                <div class="banner-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <h2 class="banner-title">Casual Collection</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu feugiat amet, libero ipsum enim pharetra hac.</p>
                                <div class="btn-wrap">
                                    <a href="shop.html" class="btn btn-light btn-light-arrow btn-medium d-flex align-items-center" tabindex="0">
                                        Shop it now <i class="icon icon-arrow-io"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="subscribe" class="padding-large">
    <div class="container">
        <div class="row">
            <div class="block-text col-md-6">
                <div class="section-header">
                    <h2 class="section-title">Get 25% off Discount Coupons</h2>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dictumst amet, metus, sit massa posuere maecenas. At tellus ut nunc amet vel egestas.</p>
            </div>
            <div class="subscribe-content col-md-6">
                <form id="form" class="d-flex justify-content-between">
                    <input type="text" name="email" placeholder="Enter your email addresss here">
                    <button class="btn btn-dark">Subscribe Now</button>
                </form>
            </div>
        </div>
    </div>
</section>

<section id="selling-products" class="product-store bg-light-grey padding-large">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title">Best selling products</h2>
            <h3 style="border: 3px solid red; padding: 5px; display: inline-block;">Huỳnh Thiên Huy</h3>
            <div style="margin-top: 10px;">
                <button id="add-product-btn" class="btn btn-primary" onclick="window.location.href='@Url.Action("Create", "Home")'">
                    Add a New Product
                </button>
            </div>
        </div>
        <ul class="tabs list-unstyled">
                <li data-tab-target="#all" class="active tab">All</li>
                @foreach (var category in phanloai)
                {
                    <li data-tab-target="#@category.TenPhanLoai.ToString().ToLower()" class="tab">@category.TenPhanLoai</li>

                }

        </ul>
        <div class="tab-content">
            <div id="all" data-tab-content class="active">
                <div class="row d-flex flex-wrap">
                    @foreach (var product in sanphams)
                    {
                        <div class="product-item col-lg-3 col-md-6 col-sm-6">
                            <div class="image-holder">
                                <img src="~/Content/images/@product.AnhDaiDien" alt="Books" class="product-image">
                            </div>
                            <div class="cart-concern">
                                <div class="cart-button d-flex justify-content-between align-items-center">
                                    <button type="button" class="btn-wrap cart-link d-flex align-items-center">
                                        add to cart <i class="icon icon-arrow-io"></i>
                                    </button>
                                    <button type="button" class="view-btn tooltip
                d-flex">
                                        <i class="icon icon-screen-full"></i>
                                        <span class="tooltip-text">Quick view</span>
                                    </button>
                                    <button type="button" class="wishlist-btn">
                                        <i class="icon icon-heart"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="product-detail">
                                <h3 class="product-title">
                                    <a href="single-product.html">@product.TenSanpham</a>
                                </h3>
                                <div class="item-price text-primary">$@product.Gia</div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            @foreach (var category in phanloai)
            {
                <div id="@category.TenPhanLoai.ToString().ToLower()" data-tab-content style="display:none;">

                </div>
            }
        </div>
    </div>

</section>

<section id="testimonials" class="padding-large no-padding-bottom">
    <div class="container">
        <div class="reviews-content">
            <div class="row d-flex flex-wrap">
                <div class="col-md-2">
                    <div class="review-icon">
                        <i class="icon icon-right-quote"></i>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="swiper testimonial-swiper overflow-hidden">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="testimonial-detail">
                                    <p>“Dignissim massa diam elementum habitant fames. Id nullam pellentesque nisi, eget cursus dictumst pharetra, sit. Pulvinar laoreet id porttitor egestas dui urna. Porttitor nibh magna dolor ultrices iaculis sit iaculis.”</p>
                                    <div class="author-detail">
                                        <div class="name">By Maggie Rio</div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testimonial-detail">
                                    <p>“Dignissim massa diam elementum habitant fames. Id nullam pellentesque nisi, eget cursus dictumst pharetra, sit. Pulvinar laoreet id porttitor egestas dui urna. Porttitor nibh magna dolor ultrices iaculis sit iaculis.”</p>
                                    <div class="author-detail">
                                        <div class="name">By John Smith</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-arrows">
                        <button class="prev-button">
                            <i class="icon icon-arrow-left"></i>
                        </button>
                        <button class="next-button">
                            <i class="icon icon-arrow-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<section id="quotation" class="align-center padding-large">
    <div class="inner-content">
        <h2 class="section-title divider">Quote of the day</h2>
        <blockquote>
            <q>It's true, I don't like the whole cutoff-shorts-and-T-shirt look, but I think you can look fantastic in casual clothes.</q>
            <div class="author-name">- Dr. Seuss</div>
        </blockquote>
    </div>
</section>

<hr>


<section id="brand-collection" class="padding-medium bg-light-grey">
    <div class="container">
        <div class="d-flex flex-wrap justify-content-between">
            <img src="~/Content/images/brand1.png" alt="phone" class="brand-image">
            <img src="~/Content/images/brand2.png" alt="phone" class="brand-image">
            <img src="~/Content/images/brand3.png" alt="phone" class="brand-image">
            <img src="~/Content/images/brand4.png" alt="phone" class="brand-image">
            <img src="~/Content/images/brand5.png" alt="phone" class="brand-image">
        </div>
    </div>
</section>


<section id="shipping-information">
    <hr>
    <div class="container">
        <div class="row d-flex flex-wrap align-items-center justify-content-between">
            <div class="col-md-3 col-sm-6">
                <div class="icon-box">
                    <i class="icon icon-truck"></i>
                    <h4 class="block-title">
                        <strong>Free shipping</strong> Over $200
                    </h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="icon-box">
                    <i class="icon icon-return"></i>
                    <h4 class="block-title">
                        <strong>Money back</strong> Return within 7 days
                    </h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="icon-box">
                    <i class="icon icon-tags1"></i>
                    <h4 class="block-title">
                        <strong>Buy 4 get 5th</strong> 50% off
                    </h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="icon-box">
                    <i class="icon icon-help_outline"></i>
                    <h4 class="block-title">
                        <strong>Any questions?</strong> experts are ready
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <hr>

</section>
<script src="~/Content/js/jquery-1.11.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('.tab').on('click', function () {
            var target = $(this).data('tab-target');

            $('.tab').removeClass('active');
            $(this).addClass('active');
            $('[data-tab-content]').hide();

            $(target).show();

            if (target != "#all") {
                $.ajax({
                    url: '@Url.Action("GetProductsByCategory", "Home")',
                    type: 'GET',
                    data: { category: target },
                    success: function (data) {
                        $(target).html(data);
                    },
                    error: function (xhr, status, error) {
                        console.error("Error loading products:", xhr.responseText, status, error);
                        $(target).html('<p>An error occurred while loading the products. Please try again later.</p>');
                    }
                });
            }
        });
        $('.active').click();
    });
</script>